In [1]:
import os
import pandas as pd
os.chdir("C:\\Users\\Hp\\Downloads\\2004\\hourly")

In [2]:
weather_hour_data = pd.concat([pd.read_table(f , sep=",", encoding='unicode_escape',

                      na_values="'', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan', '1.#IND', '1.#QNAN', 'N/A', 'NA', 'NULL', 'NaN', 'n/a', 'nan', 'null', '?', '#'")

                                 for f in os.listdir("C:\\Users\\Hp\\Downloads\\2004\\hourly")], ignore_index = True)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2903: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2903: DtypeWarning: Columns (1,8) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

KeyboardInterrupt:

In [ ]:
weather_hour_data.shape

In [ ]:
weather_hour_data.head(4)

In [ ]:
os.chdir("C:\\Users\\Hp\\Downloads\\2004\\hpd")
weather_hpd_data = pd.concat([pd.read_table(f , sep=",", encoding='unicode_escape',

                      na_values="'', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan', '1.#IND', '1.#QNAN', 'N/A', 'NA', 'NULL', 'NaN', 'n/a', 'nan', 'null', '?', '#'")

                                 for f in os.listdir("C:\\Users\\Hp\\Downloads\\2004\\hpd")], ignore_index = True)

In [ ]:
os.chdir("C:\\Users\\Hp\\Downloads")
Flight_train=pd.read_csv("FlightDelay_Train-1550042794911.csv")

In [ ]:
Flight_train.head(2)

In [ ]:
Flight_train.shape

In [ ]:
weather_hpd_data.head(2)

In [ ]:
weather_hpd_data.shape

In [ ]:
os.chdir("C:\\Users\\Hp\\Downloads\\all")

In [ ]:
all_station_data= pd.read_csv("AllStationsData_PHD.txt",delimiter="|")

In [ ]:
all_station_data.head(1)

In [ ]:
all_station_data.shape

In [ ]:
    Flight_train.isnull().sum(axis=0)

In [16]:
#item=pd.merge(Flight_train, all_station_data, how='inner', left_on=['Destination'], right_on=['AirportID'])

In [17]:
#item.shape

(7861, 20)

In [18]:
#item['ActualArrivalTimeStamp']=pd.to_datetime(item['ActualArrivalTimeStamp'])
#item['Actually_Arrived']=pd.to_datetime(item.ActualArrivalTimeStamp,format='%H%M').dt.strftime('%H:%M')

In [19]:
#item['Actually_Arrived']=item['Actually_Arrived'].str.replace(":","")

In [20]:
#item['Actually_Arrived']=item['Actually_Arrived'].astype('int64')

In [21]:
#item['ScheduledArrTime']=item['ScheduledArrTime'].astype('int64')

In [22]:
#item['FlightDelay']=0

#for i in range(0,len(item)):
 #   if item['Actually_Arrived'][i]-item['ScheduledArrTime'][i]>15 :
  #      item['FlightDelay'][i]= 1
   # else:
    #    item['FlightDelay'][i]=2

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [32]:
#item.tail(1000)

,FlightNumber,Year,Month,DayofMonth,DayOfWeek,ScheduledDepTime,ScheduledArrTime,ScheduledTravelTime,Origin,Destination,...,WeatherStationID,AirportID,GroundHeight,StationHeight,BarometerHeight,Latitude,Longitude,TimeZone,Actually_Arrived,FlightDelay
6861,ORD_SNA_47270,2004,11,24,3,1253,1513,260,ORD,SNA,...,93184,SNA,49,55,52,33.41,-117.52,+8,1807,1
6862,ATL_SNA_43426,2004,11,21,7,1745,1944,299,ATL,SNA,...,93184,SNA,49,55,52,33.41,-117.52,+8,2104,1
6863,MSP_SNA_39075,2004,11,17,3,1136,1326,230,MSP,SNA,...,93184,SNA,49,55,52,33.41,-117.52,+8,1412,1
6864,SLC_SNA_52486,2004,7,6,2,1110,1201,111,SLC,SNA,...,93184,SNA,49,55,52,33.41,-117.52,+8,1201,2
6865,SMF_SNA_41623,2004,7,21,3,1040,1200,80,SMF,SNA,...,93184,SNA,49,55,52,33.41,-117.52,+8,1200,2
6866,SFO_SNA_42580,2004,11,4,4,1031,1200,89,SFO,SNA,...,93184,SNA,49,55,52,33.41,-117.52,+8,1200,2
6867,SJC_SNA_39869,2004,11,21,7,1700,1819,79,SJC,SNA,...,93184,SNA,49,55,52,33.41,-117.52,+8,1819,2
6868,PHX_SNA_32217,2004,5,3,1,721,847,86,PHX,SNA,...,93184,SNA,49,55,52,33.41,-117.52,+8,847,2
6869,ORD_SNA_29731,2004,5,16,7,1655,1911,256,ORD,SNA,...,93184,SNA,49,55,52,33.41,-117.52,+8,1911,2
6870,OAK_SNA_49592,2004,7,21,3,1339,1504,85,OAK,SNA,...,93184,SNA,49,55,52,33.41,-117.52,+8,1504,2
6871,SJC_SNA_28089,2004,9,5,7,1635,1750,75,SJC,SNA,...,93184,SNA,49,55,52,33.41,-117.52,+8,1750,2
6872,SEA_SNA_44508,2004,7,16,5,605,854,169,SEA,SNA,...,93184,SNA,49,55,52,33.41,-117.52,+8,854,2
6873,SFO_SNA_50690,2004,5,15,6,1555,1723,88,SFO,SNA,...,93184,SNA,49,55,52,33.41,-117.52,+8,1723,2
6874,SFO_SNA_26462,2004,11,19,5,1335,1501,86,SFO,SNA,...,93184,SNA,49,55,52,33.41,-117.52,+8,1501,2
6875,SEA_SNA_48705,2004,11,28,7,1511,1744,153,SEA,SNA,...,93184,SNA,49,55,52,33.41,-117.52,+8,1744,2
6876,SFO_SNA_30728,2004,5,14,5,1605,1733,88,SFO,SNA,...,93184,SNA,49,55,52,33.41,-117.52,+8,1733,2
6877,DEN_SNA_50182,2004,11,2,2,835,1000,145,DEN,SNA,...,93184,SNA,49,55,52,33.41,-117.52,+8,1000,2
6878,SFO_SNA_40405,2004,7,18,7,1330,1500,90,SFO,SNA,...,93184,SNA,49,55,52,33.41,-117.52,+8,1500,2
6879,DFW_SNA_38846,2004,9,19,7,1024,1133,189,DFW,SNA,...,93184,SNA,49,55,52,33.41,-117.52,+8,1133,2
6880,SEA_PSP_39842,2004,9,24,5,1145,1413,148,SEA,PSP,...,93138,PSP,444,450,447,33.50,-116.31,+8,1413,2
6881,SLC_PSP_53709,2004,7,6,2,1130,1206,96,SLC,PSP,...,93138,PSP,444,450,447,33.50,-116.31,+8,1206,2
6882,IAH_PSP_29843,2004,5,11,2,1740,1859,199,IAH,PSP,...,93138,PSP,444,450,447,33.50,-116.31,+8,1859,2
6883,SLC_PSP_31829,2004,11,25,4,1130,1208,98,SLC,PSP,...,93138,PSP,444,450,447,33.50,-116.31,+8,1343,1
6884,DEN_PSP_39844,2004,1,3,6,1715,1825,130,DEN,PSP,...,93138,PSP,444,450,447,33.50,-116.31,+8,2029,1
6885,SEA_PSP_43130,2004,11,24,3,800,1039,159,SEA,PSP,...,93138,PSP,444,450,447,33.50,-116.31,+8,1039,2
6886,IAD_GSO_44851,2004,11,18,4,640,745,65,IAD,GSO,...,13723,GSO,904,886,907,36.06,-79.56,+5,1011,1
6887,IAD_GSO_42166,2004,11,12,5,640,745,65,IAD,GSO,...,13723,GSO,904,886,907,36.06,-79.56,+5,1039,1
6888,MCO_GSO_52638,2004,9,9,4,1040,1221,101,MCO,GSO,...,13723,GSO,904,886,907,36.06,-79.56,+5,1221,2
6889,MCO_GSO_42440,2004,1,3,6,1735,1915,100,MCO,GSO,...,13723,GSO,904,886,907,36.06,-79.56,+5,1915,2
6890,DFW_GSO_37779,2004,3,20,6,841,1206,145,DFW,GSO,...,13723,GSO,904,886,907,36.06,-79.56,+5,1206,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7831,ATL_PNS_43816,2004,5,23,7,915,925,70,ATL,PNS,...,13899,PNS,124,118,127,30.28,-87.11,+6,925,2
7832,ATL_PNS_48907,2004,9,30,4,1438,1448,70,ATL,PNS,...,13899,PNS,124,118,127,30.28,-87.11,+6,1448,2
7833,CVG_ACY_41363,2004,11,29,1,1140,1320,100,CVG,ACY,...,93730,ACY,114,67,117,39.28,-74.28,+5,1320,2
7834,ORD_LAN_55182,2004,9,16,4,1320,1528,68,ORD,LAN,...,14836,LAN,860,874,882,42.47,-84.35,+5,1528,2
7835,CVG_LAN_33803,2004,9,30,4,1135,1242,67,CVG,LAN,...,14836,LAN,860,874,882,42.47,-84.35,+5,1242,2
7836,IAH_ACT_25820,2004,5,23,7,1535,1638,63,IAH,ACT,...,13959,ACT,513,508,516,31.37,-97.14,+6,1638,2
7837,DFW_MLU_32021,2004,9,18,6,745,849,64,DFW,MLU,...,13942,MLU,130,81,133,32.31,-92.02,+6,849,2
7838,ATL_MLU_52736,2004,5,12,3,1750,1828,98,ATL,MLU,...,13942,MLU,130,81,133,32.31,-92.02,+6,2050,1
7839,ORD_FSD_40745,2004,7,28,3,828,1003,95,ORD,FSD,...,14944,FSD,1425,1427,1428,43.35,-96.45,+6,1003,2
7840,DEN_FSD_40619,2004,11,15,1,1530,1759,89,DEN,FSD,...,14944,FSD,1425,1427,1428,43.35,-96.45,+6,1759,2
7841,ORD_FSD_34716,2004,7,13,2,1501,1642,101,ORD,FSD,...,14944,FSD,1425,1427,1428,43.35,-96.45,+6,1642,2
7842,DFW_LFT_33127,2004,7,6,2,920,1043,83,DFW,LFT,...,13976,LFT,38,42,41,30.12,-91.59,+6,1043,2
7843,MSP_GRB_26502,2004,11,1,1,1257,1359,62,MSP,GRB,...,14898,GRB,682,702,685,44.31,-88.07,+6,1359,2
7844,SFO_RDD_53438,2004,5,21,5,840,945,65,SFO,RDD,...,24257,RDD,510,502,513,40.31,-122.19,+8,945,2
7845,ATL_FLO_36790,2004,3,12,5,1515,1620,65,ATL,FLO,...,13744,FLO,176,151,179,34.11,-79.44,+5,1620,2
7846,MSP_GFK_44077,2004,7,11,7,1132,1244,72,MSP,GFK,...,14916,GFK,839,832,842,47.57,-97.11,+6,1244,2
7847,ORD_DLH_50609,2004,7,21,3,852,1020,88,ORD,DLH,...,14913,DLH,1426,1417,1429,46.50,-92.11,+6,1136,1
7848,ATL_FAY_46386,2004,7,3,6,911,1024,73,ATL,FAY,...,93740,FAY,181,196,184,34.59,-78.53,+5,1258,1
7849,ATL_MEI_44887,2004,7,1,4,1725,1736,71,ATL,MEI,...,13865,MEI,289,310,292,32.20,-88.45,+6,1927,1
7850,ATL_MEI_53272,2004,11,23,2,1315,1328,73,ATL,MEI,...,13865,MEI,289,310,292,32.20,-88.45,+6,1623,1
7851,ATL_MEI_49304,2004,11,24,3,1725,1740,75,ATL,MEI,...,13865,MEI,289,310,292,32.20,-88.45,+6,1857,1
7852,SLC_COD_37392,2004,5,10,1,1110,1233,83,SLC,COD,...,24045,COD,0,0,0,44.37,-108.58,+7,1233,2
7853,IAD_STT_47410,2004,7,24,6,830,1222,232,IAD,STT,...,11640,STT,51,11,54,18.20,-64.58,+4,1222,2
7854,MIA_STT_45931,2004,5,13,4,1231,1505,154,MIA,STT,...,11640,STT,51,11,54,18.20,-64.58,+4,1505,2
7855,BOS_STT_50904,2004,3,18,4,825,1322,237,BOS,STT,...,11640,STT,51,11,54,18.20,-64.58,+4,1322,2
7856,ANC_SCC_44981,2004,3,14,7,1110,1252,102,ANC,SCC,...,27406,SCC,66,60,69,70.11,-148.29,+9,1252,2
7857,DFW_EGE_47115,2004,7,23,5,1545,1655,130,DFW,EGE,...,23063,EGE,0,6535,0,39.39,-106.55,+7,1655,2
7858,ATL_ILM_27401,2004,5,31,1,1434,1555,81,ATL,ILM,...,13748,ILM,30,38,33,34.16,-77.55,+5,1843,1
7859,ATL_TRI_33614,2004,9,15,3,1700,1806,66,ATL,TRI,...,13877,TRI,1536,1525,1539,36.29,-82.24,+5,1806,2
7860,MSP_MOT_32606,2004,11,21,7,900,1031,91,MSP,MOT,...,24013,MOT,1665,1714,1706,48.16,-101.17,+6,1031,2

In [27]:
weather_hour_data.head(4)

,WeatherStationID,YearMonthDay,Time,SkyConditions,Visibility,DBT,DewPointTemp,RelativeHumidityPercent,WindSpeed,WindDirection,WindGustValue,StationPressure
0,3034,20040101,10,OVC095,10SM,30.0,7.0,38.0,0,000,0.0,30.10
1,3035,20040101,10,SCT110,10SM,43.0,18.0,37.0,0,000,0.0,30.07
2,3039,20040101,10,OVC002,0.25SM,14.0,12.0,92.0,0,000,0.0,30.01
3,3040,20040101,10,CLR,10SM,30.0,21.0,69.0,9,250,0.0,29.82

In [28]:
#item.columns

Index(['FlightNumber', 'Year', 'Month', 'DayofMonth', 'DayOfWeek',
       'ScheduledDepTime', 'ScheduledArrTime', 'ScheduledTravelTime', 'Origin',
       'Destination', 'Distance', 'ActualArrivalTimeStamp', 'WeatherStationID',
       'AirportID', 'GroundHeight', 'StationHeight', 'BarometerHeight',
       'Latitude', 'Longitude', 'TimeZone', 'Actually_Arrived', 'FlightDelay'],
      dtype='object')

In [29]:
#weather_hour_data.columns

Index(['WeatherStationID', 'YearMonthDay', 'Time', 'SkyConditions',
       'Visibility', 'DBT', 'DewPointTemp', 'RelativeHumidityPercent',
       'WindSpeed', 'WindDirection', 'WindGustValue', 'StationPressure'],
      dtype='object')

In [83]:
#weather_hour_data['WeatherStationID'].count()

6485177

In [86]:
#weather_hour_data['WeatherStationID'].value_counts()

24237    8116
25628    7081
93076    7040
25713    6908
24154    6858
25339    6748
4969     6674
14905    6640
3034     6572
4864     6570
4911     6567
4865     6566
4923     6559
4918     6558
4924     6557
4901     6556
4935     6556
4905     6556
4902     6556
4863     6555
4914     6553
4894     6552
4909     6551
4866     6551
3035     6549
4885     6543
14989    6540
4943     6538
4928     6536
4912     6535
         ...
54735     427
26479     320
3037      286
22501     251
14780     249
24198     234
63823     234
26418     227
92813     223
93744     215
54974     214
94196     182
53128     168
23206     151
3973      150
93940     144
93092     140
53126     104
53130      95
63813      94
53963      73
92815      71
94061      66
53127      42
94163      41
13941      33
26414      23
26552       6
53983       4
63803       3
Name: WeatherStationID, Length: 1447, dtype: int64

In [16]:
trail=Flight_train

In [17]:
trail.head(2)

,FlightNumber,Year,Month,DayofMonth,DayOfWeek,ScheduledDepTime,ScheduledArrTime,ScheduledTravelTime,Origin,Destination,Distance,ActualArrivalTimeStamp
0,BOS_CLE_29089,2004,9,20,1,1000,1154,114,BOS,CLE,563,20/09/04 11:54
1,CLE_ATL_44346,2004,11,19,5,1440,1634,114,CLE,ATL,554,19/11/04 18:55

In [18]:
import datetime as dt
trail["new_date"] = trail["DayofMonth"].map(str)+"-"+trail["Month"].map(str)+"-"+trail["Year"].map(str)

In [19]:
trail['ScheduledArrTime2']=pd.to_datetime(trail['ScheduledArrTime'],format='%H%M').dt.strftime('%H:%M')

In [20]:
trail.head()

,FlightNumber,Year,Month,DayofMonth,DayOfWeek,ScheduledDepTime,ScheduledArrTime,ScheduledTravelTime,Origin,Destination,Distance,ActualArrivalTimeStamp,new_date,ScheduledArrTime2
0,BOS_CLE_29089,2004,9,20,1,1000,1154,114,BOS,CLE,563,20/09/04 11:54,20-9-2004,11:54
1,CLE_ATL_44346,2004,11,19,5,1440,1634,114,CLE,ATL,554,19/11/04 18:55,19-11-2004,16:34
2,SNA_LAS_44378,2004,5,4,2,1800,1902,62,SNA,LAS,226,04/05/04 19:02,4-5-2004,19:02
3,CLT_TPA_51502,2004,7,6,2,1400,1533,93,CLT,TPA,508,06/07/04 15:33,6-7-2004,15:33
4,MSP_ORD_44884,2004,9,23,4,830,946,76,MSP,ORD,334,23/09/04 09:46,23-9-2004,09:46

In [21]:
trail["ActualArrivalTimeStamp_3"] = trail["new_date"] +" " + trail["ScheduledArrTime2"]

In [22]:
trail.head(30)

,FlightNumber,Year,Month,DayofMonth,DayOfWeek,ScheduledDepTime,ScheduledArrTime,ScheduledTravelTime,Origin,Destination,Distance,ActualArrivalTimeStamp,new_date,ScheduledArrTime2,ActualArrivalTimeStamp_3
0,BOS_CLE_29089,2004,9,20,1,1000,1154,114,BOS,CLE,563,20/09/04 11:54,20-9-2004,11:54,20-9-2004 11:54
1,CLE_ATL_44346,2004,11,19,5,1440,1634,114,CLE,ATL,554,19/11/04 18:55,19-11-2004,16:34,19-11-2004 16:34
2,SNA_LAS_44378,2004,5,4,2,1800,1902,62,SNA,LAS,226,04/05/04 19:02,4-5-2004,19:02,4-5-2004 19:02
3,CLT_TPA_51502,2004,7,6,2,1400,1533,93,CLT,TPA,508,06/07/04 15:33,6-7-2004,15:33,6-7-2004 15:33
4,MSP_ORD_44884,2004,9,23,4,830,946,76,MSP,ORD,334,23/09/04 09:46,23-9-2004,09:46,23-9-2004 09:46
5,CVG_GRR_45655,2004,9,26,7,1730,1832,62,CVG,GRR,268,26/09/04 18:32,26-9-2004,18:32,26-9-2004 18:32
6,DFW_STL_53369,2004,5,5,3,1330,1517,107,DFW,STL,551,05/05/04 15:17,5-5-2004,15:17,5-5-2004 15:17
7,ACV_SFO_50785,2004,9,15,3,655,758,63,ACV,SFO,250,15/09/04 07:58,15-9-2004,07:58,15-9-2004 07:58
8,BHM_DFW_34260,2004,5,28,5,1425,1625,120,BHM,DFW,597,28/05/04 18:39,28-5-2004,16:25,28-5-2004 16:25
9,DFW_PIT_33678,2004,9,11,6,847,1223,156,DFW,PIT,1068,11/09/04 12:23,11-9-2004,12:23,11-9-2004 12:23
10,GNV_ATL_31276,2004,7,18,7,1520,1658,98,GNV,ATL,300,18/07/04 19:07,18-7-2004,16:58,18-7-2004 16:58
11,DFW_SJU_32640,2004,3,24,3,1521,2143,262,DFW,SJU,2165,24/03/04 21:43,24-3-2004,21:43,24-3-2004 21:43
12,GJT_SLC_30446,2004,1,3,6,1143,1248,65,GJT,SLC,217,03/01/04 12:48,3-1-2004,12:48,3-1-2004 12:48
13,IAD_DAY_32236,2004,5,21,5,915,1106,111,IAD,DAY,368,21/05/04 11:06,21-5-2004,11:06,21-5-2004 11:06
14,SNA_DFW_49976,2004,5,18,2,815,1310,175,SNA,DFW,1205,18/05/04 13:10,18-5-2004,13:10,18-5-2004 13:10
15,IAH_MEM_41435,2004,11,16,2,1535,1709,94,IAH,MEM,469,16/11/04 17:09,16-11-2004,17:09,16-11-2004 17:09
16,ATL_JAX_34808,2004,3,18,4,1438,1546,68,ATL,JAX,270,18/03/04 15:46,18-3-2004,15:46,18-3-2004 15:46
17,LGB_JFK_40880,2004,9,25,6,900,1720,320,LGB,JFK,2465,25/09/04 17:20,25-9-2004,17:20,25-9-2004 17:20
18,RDU_LGA_31104,2004,7,2,5,1430,1555,85,RDU,LGA,431,02/07/04 15:55,2-7-2004,15:55,2-7-2004 15:55
19,MDW_CLT_45044,2004,3,21,7,825,1110,105,MDW,CLT,584,21/03/04 11:10,21-3-2004,11:10,21-3-2004 11:10
20,DTW_ATL_40715,2004,9,7,2,1517,1711,114,DTW,ATL,594,07/09/04 17:11,7-9-2004,17:11,7-9-2004 17:11
21,MDW_SFO_45960,2004,7,5,1,650,915,265,MDW,SFO,1855,05/07/04 09:15,5-7-2004,09:15,5-7-2004 09:15
22,SEA_EWR_40205,2004,5,22,6,810,1621,311,SEA,EWR,2401,22/05/04 18:45,22-5-2004,16:21,22-5-2004 16:21
23,DFW_MCO_32984,2004,5,9,7,1320,1656,156,DFW,MCO,984,09/05/04 16:56,9-5-2004,16:56,9-5-2004 16:56
24,DFW_LAX_40788,2004,11,17,3,930,1052,202,DFW,LAX,1235,17/11/04 12:24,17-11-2004,10:52,17-11-2004 10:52
25,ORD_LAS_30907,2004,7,3,6,1450,1643,233,ORD,LAS,1515,03/07/04 16:43,3-7-2004,16:43,3-7-2004 16:43
26,SMF_DEN_32833,2004,9,17,5,1655,2011,136,SMF,DEN,910,17/09/04 20:11,17-9-2004,20:11,17-9-2004 20:11
27,TPA_DFW_46827,2004,9,19,7,1720,1859,159,TPA,DFW,929,19/09/04 18:59,19-9-2004,18:59,19-9-2004 18:59
28,MDW_BNA_29314,2004,3,19,5,1200,1315,75,MDW,BNA,395,19/03/04 13:15,19-3-2004,13:15,19-3-2004 13:15
29,MIA_SJU_52400,2004,5,26,3,1420,1651,151,MIA,SJU,1045,26/05/04 16:51,26-5-2004,16:51,26-5-2004 16:51

In [23]:
trail['ActualArrivalTimeStamp']=trail['ActualArrivalTimeStamp'].str.replace("/","-")

In [24]:
trail.head(3)

,FlightNumber,Year,Month,DayofMonth,DayOfWeek,ScheduledDepTime,ScheduledArrTime,ScheduledTravelTime,Origin,Destination,Distance,ActualArrivalTimeStamp,new_date,ScheduledArrTime2,ActualArrivalTimeStamp_3
0,BOS_CLE_29089,2004,9,20,1,1000,1154,114,BOS,CLE,563,20-09-04 11:54,20-9-2004,11:54,20-9-2004 11:54
1,CLE_ATL_44346,2004,11,19,5,1440,1634,114,CLE,ATL,554,19-11-04 18:55,19-11-2004,16:34,19-11-2004 16:34
2,SNA_LAS_44378,2004,5,4,2,1800,1902,62,SNA,LAS,226,04-05-04 19:02,4-5-2004,19:02,4-5-2004 19:02

In [25]:
trail.dtypes

FlightNumber                object
Year                         int64
Month                        int64
DayofMonth                   int64
DayOfWeek                    int64
ScheduledDepTime             int64
ScheduledArrTime             int64
ScheduledTravelTime          int64
Origin                      object
Destination                 object
Distance                     int64
ActualArrivalTimeStamp      object
new_date                    object
ScheduledArrTime2           object
ActualArrivalTimeStamp_3    object
dtype: object

In [26]:
trail['ActualArrivalTimeStamp']=pd.to_datetime(trail['ActualArrivalTimeStamp'])

In [27]:
trail['ActualArrivalTimeStamp_3']=pd.to_datetime(trail['ActualArrivalTimeStamp_3'])

In [28]:
trail["FlightDelay"] = trail["ActualArrivalTimeStamp"] - trail["ActualArrivalTimeStamp_3"]

In [29]:
trail.head(100)

,FlightNumber,Year,Month,DayofMonth,DayOfWeek,ScheduledDepTime,ScheduledArrTime,ScheduledTravelTime,Origin,Destination,Distance,ActualArrivalTimeStamp,new_date,ScheduledArrTime2,ActualArrivalTimeStamp_3,FlightDelay
0,BOS_CLE_29089,2004,9,20,1,1000,1154,114,BOS,CLE,563,2004-09-20 11:54:00,20-9-2004,11:54,2004-09-20 11:54:00,00:00:00
1,CLE_ATL_44346,2004,11,19,5,1440,1634,114,CLE,ATL,554,2004-11-19 18:55:00,19-11-2004,16:34,2004-11-19 16:34:00,02:21:00
2,SNA_LAS_44378,2004,5,4,2,1800,1902,62,SNA,LAS,226,2004-04-05 19:02:00,4-5-2004,19:02,2004-04-05 19:02:00,00:00:00
3,CLT_TPA_51502,2004,7,6,2,1400,1533,93,CLT,TPA,508,2004-06-07 15:33:00,6-7-2004,15:33,2004-06-07 15:33:00,00:00:00
4,MSP_ORD_44884,2004,9,23,4,830,946,76,MSP,ORD,334,2004-09-23 09:46:00,23-9-2004,09:46,2004-09-23 09:46:00,00:00:00
5,CVG_GRR_45655,2004,9,26,7,1730,1832,62,CVG,GRR,268,2004-09-26 18:32:00,26-9-2004,18:32,2004-09-26 18:32:00,00:00:00
6,DFW_STL_53369,2004,5,5,3,1330,1517,107,DFW,STL,551,2004-05-05 15:17:00,5-5-2004,15:17,2004-05-05 15:17:00,00:00:00
7,ACV_SFO_50785,2004,9,15,3,655,758,63,ACV,SFO,250,2004-09-15 07:58:00,15-9-2004,07:58,2004-09-15 07:58:00,00:00:00
8,BHM_DFW_34260,2004,5,28,5,1425,1625,120,BHM,DFW,597,2004-05-28 18:39:00,28-5-2004,16:25,2004-05-28 16:25:00,02:14:00
9,DFW_PIT_33678,2004,9,11,6,847,1223,156,DFW,PIT,1068,2004-11-09 12:23:00,11-9-2004,12:23,2004-11-09 12:23:00,00:00:00
10,GNV_ATL_31276,2004,7,18,7,1520,1658,98,GNV,ATL,300,2004-07-18 19:07:00,18-7-2004,16:58,2004-07-18 16:58:00,02:09:00
11,DFW_SJU_32640,2004,3,24,3,1521,2143,262,DFW,SJU,2165,2004-03-24 21:43:00,24-3-2004,21:43,2004-03-24 21:43:00,00:00:00
12,GJT_SLC_30446,2004,1,3,6,1143,1248,65,GJT,SLC,217,2004-03-01 12:48:00,3-1-2004,12:48,2004-03-01 12:48:00,00:00:00
13,IAD_DAY_32236,2004,5,21,5,915,1106,111,IAD,DAY,368,2004-05-21 11:06:00,21-5-2004,11:06,2004-05-21 11:06:00,00:00:00
14,SNA_DFW_49976,2004,5,18,2,815,1310,175,SNA,DFW,1205,2004-05-18 13:10:00,18-5-2004,13:10,2004-05-18 13:10:00,00:00:00
15,IAH_MEM_41435,2004,11,16,2,1535,1709,94,IAH,MEM,469,2004-11-16 17:09:00,16-11-2004,17:09,2004-11-16 17:09:00,00:00:00
16,ATL_JAX_34808,2004,3,18,4,1438,1546,68,ATL,JAX,270,2004-03-18 15:46:00,18-3-2004,15:46,2004-03-18 15:46:00,00:00:00
17,LGB_JFK_40880,2004,9,25,6,900,1720,320,LGB,JFK,2465,2004-09-25 17:20:00,25-9-2004,17:20,2004-09-25 17:20:00,00:00:00
18,RDU_LGA_31104,2004,7,2,5,1430,1555,85,RDU,LGA,431,2004-02-07 15:55:00,2-7-2004,15:55,2004-02-07 15:55:00,00:00:00
19,MDW_CLT_45044,2004,3,21,7,825,1110,105,MDW,CLT,584,2004-03-21 11:10:00,21-3-2004,11:10,2004-03-21 11:10:00,00:00:00
20,DTW_ATL_40715,2004,9,7,2,1517,1711,114,DTW,ATL,594,2004-07-09 17:11:00,7-9-2004,17:11,2004-07-09 17:11:00,00:00:00
21,MDW_SFO_45960,2004,7,5,1,650,915,265,MDW,SFO,1855,2004-05-07 09:15:00,5-7-2004,09:15,2004-05-07 09:15:00,00:00:00
22,SEA_EWR_40205,2004,5,22,6,810,1621,311,SEA,EWR,2401,2004-05-22 18:45:00,22-5-2004,16:21,2004-05-22 16:21:00,02:24:00
23,DFW_MCO_32984,2004,5,9,7,1320,1656,156,DFW,MCO,984,2004-09-05 16:56:00,9-5-2004,16:56,2004-09-05 16:56:00,00:00:00
24,DFW_LAX_40788,2004,11,17,3,930,1052,202,DFW,LAX,1235,2004-11-17 12:24:00,17-11-2004,10:52,2004-11-17 10:52:00,01:32:00
25,ORD_LAS_30907,2004,7,3,6,1450,1643,233,ORD,LAS,1515,2004-03-07 16:43:00,3-7-2004,16:43,2004-03-07 16:43:00,00:00:00
26,SMF_DEN_32833,2004,9,17,5,1655,2011,136,SMF,DEN,910,2004-09-17 20:11:00,17-9-2004,20:11,2004-09-17 20:11:00,00:00:00
27,TPA_DFW_46827,2004,9,19,7,1720,1859,159,TPA,DFW,929,2004-09-19 18:59:00,19-9-2004,18:59,2004-09-19 18:59:00,00:00:00
28,MDW_BNA_29314,2004,3,19,5,1200,1315,75,MDW,BNA,395,2004-03-19 13:15:00,19-3-2004,13:15,2004-03-19 13:15:00,00:00:00
29,MIA_SJU_52400,2004,5,26,3,1420,1651,151,MIA,SJU,1045,2004-05-26 16:51:00,26-5-2004,16:51,2004-05-26 16:51:00,00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,CVG_DCA_34714,2004,7,21,3,925,1050,85,CVG,DCA,411,2004-07-21 12:57:00,21-7-2004,10:50,2004-07-21 10:50:00,02:07:00
71,IAH_MAF_35960,2004,5,9,7,1430,1558,88,IAH,MAF,429,2004-09-05 15:58:00,9-5-2004,15:58,2004-09-05 15:58:00,00:00:00
72,ATL_DEN_47815,2004,7,5,1,850,1001,191,ATL,DEN,1199,2004-05-07 10:01:00,5-7-2004,10:01,2004-05-07 10:01:00,00:00:00
73,IAD_JFK_44724,2004,7,9,5,1235,1401,86,IAD,JFK,228,2004-09-07 14:01:00,9-7-2004,14:01,2004-09-07 14:01:00,00:00:00
74,IAH_JAN_55264,2004,11,1,1,1040,1200,80,IAH,JAN,351,2004-01-11 12:00:00,1-11-2004,12:00,2004-01-11 12:00:00,00:00:00
75,SLC_MSP_52005,2004,5,9,7,1755,2115,140,SLC,MSP,991,2004-09-05 21:15:00,9-5-2004,21:15,2004-09-05 21:15:00,00:00:00
76,SFO_LAX_47516,2004,3,19,5,1045,1207,82,SFO,LAX,337,2004-03-19 14:22:00,19-3-2004,12:07,2004-03-19 12:07:00,02:15:00
77,MSY_SFO_45369,2004,9,15,3,629,900,271,MSY,SFO,1911,2004-09-15 09:00:00,15-9-2004,09:00,2004-09-15 09:00:00,00:00:00
78,ORD_LAS_35138,2004,7,30,5,955,1148,233,ORD,LAS,1515,2004-07-30 11:48:00,30-7-2004,11:48,2004-07-30 11:48:00,00:00:00
79,LAS_SFO_48558,2004,9,3,5,1330,1457,87,LAS,SFO,414,2004-03-09 14:57:00,3-9-2004,14:57,2004-03-09 14:57:00,00:00:00
80,EWR_RSW_41360,2004,3,17,3,1100,1404,184,EWR,RSW,1068,2004-03-17 14:04:00,17-3-2004,14:04,2004-03-17 14:04:00,00:00:00
81,CLT_IAH_34844,2004,5,10,1,1730,1919,169,CLT,IAH,913,2004-10-05 19:19:00,10-5-2004,19:19,2004-10-05 19:19:00,00:00:00
82,BUR_SJC_31767,2004,5,19,3,705,815,70,BUR,SJC,296,2004-05-19 08:15:00,19-5-2004,08:15,2004-05-19 08:15:00,00:00:00
83,MSP_EWR_55041,2004,11,21,7,1648,2024,156,MSP,EWR,1008,2004-11-21 20:24:00,21-11-2004,20:24,2004-11-21 20:24:00,00:00:00
84,MDW_DFW_42548,2004,7,12,1,1019,1236,137,MDW,DFW,797,2004-12-07 12:36:00,12-7-2004,12:36,2004-12-07 12:36:00,00:00:00
85,RDU_DFW_31190,2004,11,16,2,806,1012,186,RDU,DFW,1062,2004-11-16 10:12:00,16-11-2004,10:12,2004-11-16 10:12:00,00:00:00
86,BUF_EWR_42560,2004,9,1,3,1245,1402,77,BUF,EWR,282,2004-01-09 14:02:00,1-9-2004,14:02,2004-01-09 14:02:00,00:00:00
87,DSM_CVG_46549,2004,5,1,6,530,806,96,DSM,CVG,505,2004-01-05 09:24:00,1-5-2004,08:06,2004-01-05 08:06:00,01:18:00
88,DFW_IAH_38255,2004,3,25,4,1723,1828,65,DFW,IAH,224,2004-03-25 21:15:00,25-3-2004,18:28,2004-03-25 18:28:00,02:47:00
89,LAS_CVG_26612,2004,11,8,1,1138,1819,221,LAS,CVG,1678,2004-08-11 18:19:00,8-11-2004,18:19,2004-08-11 18:19:00,00:00:00
90,MIA_DFW_33365,2004,9,26,7,1640,1842,182,MIA,DFW,1121,2004-09-26 18:42:00,26-9-2004,18:42,2004-09-26 18:42:00,00:00:00
91,ATL_BTR_35649,2004,9,2,4,815,853,98,ATL,BTR,449,2004-02-09 11:24:00,2-9-2004,08:53,2004-02-09 08:53:00,02:31:00
92,DTW_BNA_49561,2004,9,23,4,1532,1608,96,DTW,BNA,457,2004-09-23 16:08:00,23-9-2004,16:08,2004-09-23 16:08:00,00:00:00
93,ONT_SMF_40830,2004,11,21,7,700,820,80,ONT,SMF,389,2004-11-21 08:20:00,21-11-2004,08:20,2004-11-21 08:20:00,00:00:00
94,SYR_CVG_40398,2004,9,9,4,920,1058,98,SYR,CVG,527,2004-09-09 10:58:00,9-9-2004,10:58,2004-09-09 10:58:00,00:00:00
95,ROC_IAD_31995,2004,9,6,1,820,930,70,ROC,IAD,289,2004-06-09 09:30:00,6-9-2004,09:30,2004-06-09 09:30:00,00:00:00
96,TPA_LGA_55133,2004,7,29,4,1510,1750,160,TPA,LGA,1011,2004-07-29 17:50:00,29-7-2004,17:50,2004-07-29 17:50:00,00:00:00
97,IAH_MEM_54846,2004,5,11,2,1530,1657,87,IAH,MEM,469,2004-11-05 16:57:00,11-5-2004,16:57,2004-11-05 16:57:00,00:00:00
98,EWR_BOS_39872,2004,9,18,6,830,943,73,EWR,BOS,200,2004-09-18 09:43:00,18-9-2004,09:43,2004-09-18 09:43:00,00:00:00
99,MYR_CVG_42766,2004,7,28,3,1125,1303,98,MYR,CVG,489,2004-07-28 15:39:00,28-7-2004,13:03,2004-07-28 13:03:00,02:36:00

In [30]:
trail.dtypes

FlightNumber                         object
Year                                  int64
Month                                 int64
DayofMonth                            int64
DayOfWeek                             int64
ScheduledDepTime                      int64
ScheduledArrTime                      int64
ScheduledTravelTime                   int64
Origin                               object
Destination                          object
Distance                              int64
ActualArrivalTimeStamp       datetime64[ns]
new_date                             object
ScheduledArrTime2                    object
ActualArrivalTimeStamp_3     datetime64[ns]
FlightDelay                 timedelta64[ns]
dtype: object

In [31]:
trail['FlightDelay']=pd.to_datetime(trail['FlightDelay'])

In [32]:
trail.dtypes

FlightNumber                        object
Year                                 int64
Month                                int64
DayofMonth                           int64
DayOfWeek                            int64
ScheduledDepTime                     int64
ScheduledArrTime                     int64
ScheduledTravelTime                  int64
Origin                              object
Destination                         object
Distance                             int64
ActualArrivalTimeStamp      datetime64[ns]
new_date                            object
ScheduledArrTime2                   object
ActualArrivalTimeStamp_3    datetime64[ns]
FlightDelay                 datetime64[ns]
dtype: object

In [33]:
trail['FlightDelay']=pd.to_datetime(trail['FlightDelay'],format='%H%M').dt.strftime('%H:%M')

In [34]:
trail.head(2)

,FlightNumber,Year,Month,DayofMonth,DayOfWeek,ScheduledDepTime,ScheduledArrTime,ScheduledTravelTime,Origin,Destination,Distance,ActualArrivalTimeStamp,new_date,ScheduledArrTime2,ActualArrivalTimeStamp_3,FlightDelay
0,BOS_CLE_29089,2004,9,20,1,1000,1154,114,BOS,CLE,563,2004-09-20 11:54:00,20-9-2004,11:54,2004-09-20 11:54:00,00:00
1,CLE_ATL_44346,2004,11,19,5,1440,1634,114,CLE,ATL,554,2004-11-19 18:55:00,19-11-2004,16:34,2004-11-19 16:34:00,02:21

In [35]:
trail['FlightDelay']=trail['FlightDelay'].str.replace(":","")

In [36]:
trail.head(2)

,FlightNumber,Year,Month,DayofMonth,DayOfWeek,ScheduledDepTime,ScheduledArrTime,ScheduledTravelTime,Origin,Destination,Distance,ActualArrivalTimeStamp,new_date,ScheduledArrTime2,ActualArrivalTimeStamp_3,FlightDelay
0,BOS_CLE_29089,2004,9,20,1,1000,1154,114,BOS,CLE,563,2004-09-20 11:54:00,20-9-2004,11:54,2004-09-20 11:54:00,0000
1,CLE_ATL_44346,2004,11,19,5,1440,1634,114,CLE,ATL,554,2004-11-19 18:55:00,19-11-2004,16:34,2004-11-19 16:34:00,0221

In [37]:
trail['FlightDelay']=trail['FlightDelay'].astype('int64')

trail['FlightDelay']=trail['FlightDelay'].apply(lambda x: '1' if x>= 15 else '2')

In [38]:
trail.head(100)

,FlightNumber,Year,Month,DayofMonth,DayOfWeek,ScheduledDepTime,ScheduledArrTime,ScheduledTravelTime,Origin,Destination,Distance,ActualArrivalTimeStamp,new_date,ScheduledArrTime2,ActualArrivalTimeStamp_3,FlightDelay
0,BOS_CLE_29089,2004,9,20,1,1000,1154,114,BOS,CLE,563,2004-09-20 11:54:00,20-9-2004,11:54,2004-09-20 11:54:00,2
1,CLE_ATL_44346,2004,11,19,5,1440,1634,114,CLE,ATL,554,2004-11-19 18:55:00,19-11-2004,16:34,2004-11-19 16:34:00,1
2,SNA_LAS_44378,2004,5,4,2,1800,1902,62,SNA,LAS,226,2004-04-05 19:02:00,4-5-2004,19:02,2004-04-05 19:02:00,2
3,CLT_TPA_51502,2004,7,6,2,1400,1533,93,CLT,TPA,508,2004-06-07 15:33:00,6-7-2004,15:33,2004-06-07 15:33:00,2
4,MSP_ORD_44884,2004,9,23,4,830,946,76,MSP,ORD,334,2004-09-23 09:46:00,23-9-2004,09:46,2004-09-23 09:46:00,2
5,CVG_GRR_45655,2004,9,26,7,1730,1832,62,CVG,GRR,268,2004-09-26 18:32:00,26-9-2004,18:32,2004-09-26 18:32:00,2
6,DFW_STL_53369,2004,5,5,3,1330,1517,107,DFW,STL,551,2004-05-05 15:17:00,5-5-2004,15:17,2004-05-05 15:17:00,2
7,ACV_SFO_50785,2004,9,15,3,655,758,63,ACV,SFO,250,2004-09-15 07:58:00,15-9-2004,07:58,2004-09-15 07:58:00,2
8,BHM_DFW_34260,2004,5,28,5,1425,1625,120,BHM,DFW,597,2004-05-28 18:39:00,28-5-2004,16:25,2004-05-28 16:25:00,1
9,DFW_PIT_33678,2004,9,11,6,847,1223,156,DFW,PIT,1068,2004-11-09 12:23:00,11-9-2004,12:23,2004-11-09 12:23:00,2
10,GNV_ATL_31276,2004,7,18,7,1520,1658,98,GNV,ATL,300,2004-07-18 19:07:00,18-7-2004,16:58,2004-07-18 16:58:00,1
11,DFW_SJU_32640,2004,3,24,3,1521,2143,262,DFW,SJU,2165,2004-03-24 21:43:00,24-3-2004,21:43,2004-03-24 21:43:00,2
12,GJT_SLC_30446,2004,1,3,6,1143,1248,65,GJT,SLC,217,2004-03-01 12:48:00,3-1-2004,12:48,2004-03-01 12:48:00,2
13,IAD_DAY_32236,2004,5,21,5,915,1106,111,IAD,DAY,368,2004-05-21 11:06:00,21-5-2004,11:06,2004-05-21 11:06:00,2
14,SNA_DFW_49976,2004,5,18,2,815,1310,175,SNA,DFW,1205,2004-05-18 13:10:00,18-5-2004,13:10,2004-05-18 13:10:00,2
15,IAH_MEM_41435,2004,11,16,2,1535,1709,94,IAH,MEM,469,2004-11-16 17:09:00,16-11-2004,17:09,2004-11-16 17:09:00,2
16,ATL_JAX_34808,2004,3,18,4,1438,1546,68,ATL,JAX,270,2004-03-18 15:46:00,18-3-2004,15:46,2004-03-18 15:46:00,2
17,LGB_JFK_40880,2004,9,25,6,900,1720,320,LGB,JFK,2465,2004-09-25 17:20:00,25-9-2004,17:20,2004-09-25 17:20:00,2
18,RDU_LGA_31104,2004,7,2,5,1430,1555,85,RDU,LGA,431,2004-02-07 15:55:00,2-7-2004,15:55,2004-02-07 15:55:00,2
19,MDW_CLT_45044,2004,3,21,7,825,1110,105,MDW,CLT,584,2004-03-21 11:10:00,21-3-2004,11:10,2004-03-21 11:10:00,2
20,DTW_ATL_40715,2004,9,7,2,1517,1711,114,DTW,ATL,594,2004-07-09 17:11:00,7-9-2004,17:11,2004-07-09 17:11:00,2
21,MDW_SFO_45960,2004,7,5,1,650,915,265,MDW,SFO,1855,2004-05-07 09:15:00,5-7-2004,09:15,2004-05-07 09:15:00,2
22,SEA_EWR_40205,2004,5,22,6,810,1621,311,SEA,EWR,2401,2004-05-22 18:45:00,22-5-2004,16:21,2004-05-22 16:21:00,1
23,DFW_MCO_32984,2004,5,9,7,1320,1656,156,DFW,MCO,984,2004-09-05 16:56:00,9-5-2004,16:56,2004-09-05 16:56:00,2
24,DFW_LAX_40788,2004,11,17,3,930,1052,202,DFW,LAX,1235,2004-11-17 12:24:00,17-11-2004,10:52,2004-11-17 10:52:00,1
25,ORD_LAS_30907,2004,7,3,6,1450,1643,233,ORD,LAS,1515,2004-03-07 16:43:00,3-7-2004,16:43,2004-03-07 16:43:00,2
26,SMF_DEN_32833,2004,9,17,5,1655,2011,136,SMF,DEN,910,2004-09-17 20:11:00,17-9-2004,20:11,2004-09-17 20:11:00,2
27,TPA_DFW_46827,2004,9,19,7,1720,1859,159,TPA,DFW,929,2004-09-19 18:59:00,19-9-2004,18:59,2004-09-19 18:59:00,2
28,MDW_BNA_29314,2004,3,19,5,1200,1315,75,MDW,BNA,395,2004-03-19 13:15:00,19-3-2004,13:15,2004-03-19 13:15:00,2
29,MIA_SJU_52400,2004,5,26,3,1420,1651,151,MIA,SJU,1045,2004-05-26 16:51:00,26-5-2004,16:51,2004-05-26 16:51:00,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,CVG_DCA_34714,2004,7,21,3,925,1050,85,CVG,DCA,411,2004-07-21 12:57:00,21-7-2004,10:50,2004-07-21 10:50:00,1
71,IAH_MAF_35960,2004,5,9,7,1430,1558,88,IAH,MAF,429,2004-09-05 15:58:00,9-5-2004,15:58,2004-09-05 15:58:00,2
72,ATL_DEN_47815,2004,7,5,1,850,1001,191,ATL,DEN,1199,2004-05-07 10:01:00,5-7-2004,10:01,2004-05-07 10:01:00,2
73,IAD_JFK_44724,2004,7,9,5,1235,1401,86,IAD,JFK,228,2004-09-07 14:01:00,9-7-2004,14:01,2004-09-07 14:01:00,2
74,IAH_JAN_55264,2004,11,1,1,1040,1200,80,IAH,JAN,351,2004-01-11 12:00:00,1-11-2004,12:00,2004-01-11 12:00:00,2
75,SLC_MSP_52005,2004,5,9,7,1755,2115,140,SLC,MSP,991,2004-09-05 21:15:00,9-5-2004,21:15,2004-09-05 21:15:00,2
76,SFO_LAX_47516,2004,3,19,5,1045,1207,82,SFO,LAX,337,2004-03-19 14:22:00,19-3-2004,12:07,2004-03-19 12:07:00,1
77,MSY_SFO_45369,2004,9,15,3,629,900,271,MSY,SFO,1911,2004-09-15 09:00:00,15-9-2004,09:00,2004-09-15 09:00:00,2
78,ORD_LAS_35138,2004,7,30,5,955,1148,233,ORD,LAS,1515,2004-07-30 11:48:00,30-7-2004,11:48,2004-07-30 11:48:00,2
79,LAS_SFO_48558,2004,9,3,5,1330,1457,87,LAS,SFO,414,2004-03-09 14:57:00,3-9-2004,14:57,2004-03-09 14:57:00,2
80,EWR_RSW_41360,2004,3,17,3,1100,1404,184,EWR,RSW,1068,2004-03-17 14:04:00,17-3-2004,14:04,2004-03-17 14:04:00,2
81,CLT_IAH_34844,2004,5,10,1,1730,1919,169,CLT,IAH,913,2004-10-05 19:19:00,10-5-2004,19:19,2004-10-05 19:19:00,2
82,BUR_SJC_31767,2004,5,19,3,705,815,70,BUR,SJC,296,2004-05-19 08:15:00,19-5-2004,08:15,2004-05-19 08:15:00,2
83,MSP_EWR_55041,2004,11,21,7,1648,2024,156,MSP,EWR,1008,2004-11-21 20:24:00,21-11-2004,20:24,2004-11-21 20:24:00,2
84,MDW_DFW_42548,2004,7,12,1,1019,1236,137,MDW,DFW,797,2004-12-07 12:36:00,12-7-2004,12:36,2004-12-07 12:36:00,2
85,RDU_DFW_31190,2004,11,16,2,806,1012,186,RDU,DFW,1062,2004-11-16 10:12:00,16-11-2004,10:12,2004-11-16 10:12:00,2
86,BUF_EWR_42560,2004,9,1,3,1245,1402,77,BUF,EWR,282,2004-01-09 14:02:00,1-9-2004,14:02,2004-01-09 14:02:00,2
87,DSM_CVG_46549,2004,5,1,6,530,806,96,DSM,CVG,505,2004-01-05 09:24:00,1-5-2004,08:06,2004-01-05 08:06:00,1
88,DFW_IAH_38255,2004,3,25,4,1723,1828,65,DFW,IAH,224,2004-03-25 21:15:00,25-3-2004,18:28,2004-03-25 18:28:00,1
89,LAS_CVG_26612,2004,11,8,1,1138,1819,221,LAS,CVG,1678,2004-08-11 18:19:00,8-11-2004,18:19,2004-08-11 18:19:00,2
90,MIA_DFW_33365,2004,9,26,7,1640,1842,182,MIA,DFW,1121,2004-09-26 18:42:00,26-9-2004,18:42,2004-09-26 18:42:00,2
91,ATL_BTR_35649,2004,9,2,4,815,853,98,ATL,BTR,449,2004-02-09 11:24:00,2-9-2004,08:53,2004-02-09 08:53:00,1
92,DTW_BNA_49561,2004,9,23,4,1532,1608,96,DTW,BNA,457,2004-09-23 16:08:00,23-9-2004,16:08,2004-09-23 16:08:00,2
93,ONT_SMF_40830,2004,11,21,7,700,820,80,ONT,SMF,389,2004-11-21 08:20:00,21-11-2004,08:20,2004-11-21 08:20:00,2
94,SYR_CVG_40398,2004,9,9,4,920,1058,98,SYR,CVG,527,2004-09-09 10:58:00,9-9-2004,10:58,2004-09-09 10:58:00,2
95,ROC_IAD_31995,2004,9,6,1,820,930,70,ROC,IAD,289,2004-06-09 09:30:00,6-9-2004,09:30,2004-06-09 09:30:00,2
96,TPA_LGA_55133,2004,7,29,4,1510,1750,160,TPA,LGA,1011,2004-07-29 17:50:00,29-7-2004,17:50,2004-07-29 17:50:00,2
97,IAH_MEM_54846,2004,5,11,2,1530,1657,87,IAH,MEM,469,2004-11-05 16:57:00,11-5-2004,16:57,2004-11-05 16:57:00,2
98,EWR_BOS_39872,2004,9,18,6,830,943,73,EWR,BOS,200,2004-09-18 09:43:00,18-9-2004,09:43,2004-09-18 09:43:00,2
99,MYR_CVG_42766,2004,7,28,3,1125,1303,98,MYR,CVG,489,2004-07-28 15:39:00,28-7-2004,13:03,2004-07-28 13:03:00,1

In [39]:
trail.FlightDelay.value_counts()

2    6342
1    1519
Name: FlightDelay, dtype: int64

In [40]:
trail.shape

(7861, 16)

In [41]:
weather_hour_data.dtypes

WeatherStationID             int64
YearMonthDay                object
Time                         int64
SkyConditions               object
Visibility                  object
DBT                        float64
DewPointTemp               float64
RelativeHumidityPercent    float64
WindSpeed                   object
WindDirection               object
WindGustValue              float64
StationPressure            float64
dtype: object

In [42]:
weather_hpd_data.dtypes

WeatherStationID      int64
YearMonthDay          int64
Time                  int64
HourlyPrecip        float64
dtype: object

In [43]:
weather_hpd_data['YearMonthDay']=weather_hpd_data['YearMonthDay'].astype(str)

In [44]:
new_df = pd.merge(weather_hour_data,weather_hpd_data ,how='left', left_on=['WeatherStationID','YearMonthDay','Time'], right_on = ['WeatherStationID','YearMonthDay','Time'])

In [45]:
print(new_df.shape)
print(new_df.tail())

(11516906, 13)
          WeatherStationID YearMonthDay  Time  SkyConditions Visibility   DBT  \
11516901             64752     20051130   959            CLR       10SM  54.0
11516902             93167     20051130   959            CLR       10SM  51.0
11516903             93735     20051130   959         FEW080        7SM   NaN
11516904             94705     20051130   959  BKN003 OVC015        3SM   NaN
11516905             94950     20051130   959         OVC070       10SM  19.0

          DewPointTemp  RelativeHumidityPercent WindSpeed WindDirection  \
11516901          45.0                     72.0         8           300
11516902          19.0                     28.0         0           000
11516903           NaN                      NaN         4           330
11516904           NaN                      NaN         6           300
11516905          14.0                     81.0         0           000

          WindGustValue  StationPressure  HourlyPrecip
11516901            0.0            29.94           NaN
11516902            0.0            26.61           NaN
11516903            0.0            29.95           NaN
11516904            0.0              NaN           NaN
11516905            0.0            28.58           NaN

In [46]:
print(new_df.isnull().sum(axis=0))

WeatherStationID                  0
YearMonthDay                      0
Time                              0
SkyConditions                296341
Visibility                   274803
DBT                         2262500
DewPointTemp                2288896
RelativeHumidityPercent     2295589
WindSpeed                     65941
WindDirection                 65982
WindGustValue                 85796
StationPressure             1435436
HourlyPrecip               11458667
dtype: int64

In [47]:
station_df = pd.merge(all_station_data,new_df,how="left",left_on=["WeatherStationID"],right_on=["WeatherStationID"])

In [48]:
station_df.isnull().sum()

WeatherStationID                  0
AirportID                         0
GroundHeight                      0
StationHeight                     0
BarometerHeight                   0
Latitude                          0
Longitude                         0
TimeZone                          0
YearMonthDay                     42
Time                             42
SkyConditions                296378
Visibility                   274840
DBT                         2259059
DewPointTemp                2285455
RelativeHumidityPercent     2292148
WindSpeed                     65975
WindDirection                 66018
WindGustValue                 85830
StationPressure             1435475
HourlyPrecip               11455226
dtype: int64

In [49]:
station_df.YearMonthDay[10590609] = "20040515"

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [50]:
station_df['date_'] =  pd.to_datetime(station_df['YearMonthDay'], format='%Y%m%d')
station_df['date_']= station_df.date_.astype(str)

In [55]:
Flight_train['new_date']= Flight_train.new_date.astype(str)

In [56]:
station_df["Time"] = station_df["Time"].astype(str)

In [57]:
station_df.Time= pd.to_numeric(station_df.Time, errors='coerce')

station_df['hours'] =station_df.Time.fillna(9999).astype(int)

In [58]:
station_df['hours']= station_df['hours'].astype(str)

In [59]:
length = 3
fill = '0'
station_df['hours'] = station_df["hours"].str.ljust(length,fill)
station_df['hours'] = station_df["hours"].str.rjust(4,"0")
station_df["hours_only"] = station_df["hours"].str[:2]

In [60]:
Flight_train.Time= pd.to_numeric(Flight_train.ScheduledDepTime, errors='coerce')

Flight_train['hours'] =Flight_train.Time.fillna(9999).astype(int)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

In [61]:
Flight_train['hours']= Flight_train['hours'].astype(str)

In [62]:
length = 3
fill = '0'
Flight_train['hours']= Flight_train["hours"].str.ljust(length,fill)
Flight_train['hours'] = Flight_train["hours"].str.rjust(4,"0")
Flight_train["hours_only"] = Flight_train["hours"].str[:2]

In [63]:
Flight_train.hours_only.value_counts()

17    792
08    711
11    702
13    698
15    681
16    641
07    619
14    598
12    596
10    587
09    583
06    507
05     74
18     69
02      2
03      1
Name: hours_only, dtype: int64

In [ ]:
 train = pd.merge(Flight_train,station_df,how="left",left_on=["Destination","new_date","hours_only"],right_on=["AirportID","date_","hours_only"])